{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var login_status_url = "{{=URL('api', 'get_login_status')}}";
    var checklists_url = "{{=URL('api', 'get_checklists', user_signature=True)}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var del_memo_url = "{{=URL('api', 'del_memo', user_signature=True)}}";
    var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
    var query_japan_post_url = "{{=URL('api', 'query_Japan_Post')}}";
    var check_JP_url = "{{=URL('api', 'check_JP')}}";
    var check_USPS_url = "{{=URL('api', 'check_USPS')}}";
</script>
{{end}}

<div class="main_content">
  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    
    
    <div v-if="!logged_in">
      <h1>Japan Post Tracker</h1>
      <h4>track all your packages coming from Japan Post Service to the US</h4>
      <p>Please log in to create tracking entries.</p>
    </div>
    <div v-else>
      
      <!-- Form to add memos -->
      <div v-if="is_adding_memo" id="add_memo_div">
        <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data" method="post">
          
          <div class="form-group" id="add_memo_title_div">
            <div>
              <input class="form-control string" id="add_memo_title_input" name="title" type="text"
                     v-model="form_title" placeholder="Description"/>
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group" id="add_memo_content_div">
            <div>
              <input class="form-control string" id="add_memo_content_input" name="memo" type="text"
                     v-model="form_memo" placeholder="Tracking Number"/>
              <span class="help-block"></span>
            </div>
          </div>
        </form>
      </div>
      
      <!-- Buttons -->
      <div class="button_bar">
        <button v-if="!is_adding_memo" class="btn"
                v-on:click="add_memo_button()"
                :disabled="!logged_in"
                v-bind:class="{'disabled': !logged_in}">
          <i class="fa fa-plus"></i> Add Tracking Entry
        </button>
        <button v-if="is_adding_memo" class="btn orange" v-on:click="add_memo()">
          <i class="fa fa-plus"></i> Add
        </button>
        <button v-if="is_adding_memo" class="btn orange" v-on:click="cancel_add_memo()">
          <i class="fa fa-times"></i> Cancel
        </button>
      </div>
      
      
      <!-- display memos -->
      
      <ul>
        <li v-for="checklist in checklists">
          <!-- IF IT'S BEING EDITED!!!!!!!!!!!!!!!!! -->
          <div v-if="checklist.being_edited">
            <form action="#" v-on:submit.prevent class="form-horizontal" enctype="multipart/form-data"
                  method="post">
              
              <div class="form-group" id="edit_memo_title_div">
                <div>
                  <input class="form-control string" id="edit_memo_title_input" name="title" type="text"
                         v-model="form_title_edit"/>
                  <span class="help-block"></span>
                </div>
              </div>
              <div class="form-group" id="edit_memo_content_div">
                <div>
                  <input class="form-control string" id="edit_memo_content_input" name="memo" type="text"
                         v-model="form_memo_edit"/>
                  <span class="help-block"></span>
                </div>
              </div>
            </form>
            
            <div>
              <div class="button_list">
                <div class="buttons">
                  <button class="btn rounded orange" v-on:click="save_edit_memo(checklist._idx)">
                    <i class="fa fa-edit"></i>Save Edit
                  </button>
                  <button class="btn rounded orange" v-on:click="cancel_edit_memo(checklist._idx)">
                    <i class="fa fa-times"></i>Cancel
                  </button>
                </div>
              </div>
            </div>
          
          </div>
          <div v-else>
            <!-- display MAIN CONTENT of the memo -->
            ~~~~~
            <h6> ${checklist.title} </h6>
            <p> ${checklist.memo} </p>
            
            <!-- query and display tracking progress here -->
            <div v-if="!an_entry_is_being_edited">
              ${get_tracking_progress_JP(checklist._idx)}
            </div>
            <span v-html="checklist.info_japan_post"></span>  <!-- magical things happen in this line. -->
            
            
            <div>
              <div class="button_list">
                <div class="buttons">
                  <button class="btn rounded" v-if="!an_entry_is_being_edited"
                          v-on:click="start_edit_memo(checklist._idx)">
                    <i class="fa fa-edit"></i> edit entry
                  </button>
                  <button class="btn rounded" v-if="an_entry_is_being_edited" disabled>
                    <i class="fa fa-edit"></i> edit entry
                  </button>
                  
                  <button class="btn rounded" v-on:click="check_JP(checklist._idx)">
                    Check Japan Post
                  </button>
                  <!-- TYLER: -->
                  <!-- when v-on:click, they should open a new tab of JP or USPS website with the
                  tracking code entered in the url -->
                  <button class="btn rounded" v-on:click="check_USPS(checklist._idx)">
                    Check USPS
                  </button>
                  
                  <button class="btn rounded red" v-on:click="delete_memo(checklist._idx)">
                    <i class="fa fa-trash fa-lg"></i> delete entry
                  </button>
                </div>
              
              </div>
            </div>
          </div> <!-- END V-ELSE (entry is not begin edited)-->
        </li> <!-- END list entry for each memo -->
      </ul> <!-- END for each memo -->
    
    </div>
  </div> <!-- END vue-div -->
</div> <!-- END main content div -->

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
